code/python/modular/docs.md
code/python/modular/__pycache__/algebra_lineal.cpython-313.pyc
code/python/modular/__pycache__/cinematica.cpython-313.pyc
code/python/modular/__pycache__/configuracion.cpython-313.pyc
code/python/modular/__pycache__/visualizacion.cpython-313.pyc
